.cards {
    box-sizing: border-box;
    width: 100%;
    padding: 38px 0 68px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 45px;
}

@media screen and (max-width: 1280px) {
    .cards {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 25px;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px 25px;
    }
}
