.page {
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 475px) {
    .page {
        padding-bottom: 0px;
    }
}
