.header__menu {
    display: block;
    color: white;
    font-size: 18px;
    width: 60%;
}

.header__menu > ul {
    width: 60%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.header__link:hover {
    color: red;
}

.header__link:focus {
    color: red;
}

@media screen and (max-width: 1150px) {
    .header__menu > ul {
        width: 100%;
        justify-content: space-around;
    }
    .header__menu {
        width: 41%;
    }
}

@media screen and (max-width: 767px) {
    .header__menu {
        display: none;
    }
}
