.popup__container {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 15px;
}
