.header__telephone {
    text-align: end;
    width: 225px;
    font-weight: 700;
    color: white;
    font-size: 24px;
}

.header__telephone > span {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 1150px) {
    .header__telephone {
        width: 167px;
        font-size: 18px;
    }
    .header__telephone > span {
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .header__telephone {
        display: none;
    }
}
