@import url(./__layer/header__layer.css);
@import url(./__menu/header__menu.css);
@import url(./__telephone/header__telephone.css);
@import url(./__cat-count/hedar__cat-count.css);
@import url(./__burger/header__burger.css);

.header {
    position: relative;
    width: 100%;
    height: 252px;
    background-size: cover;
    background-image: url(../../images/headerCat.png);
}
