.content__up {
    cursor: pointer;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    background: #6ebbd3;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../../../images/arrow.svg);
    transform: scale(1, 1);
    transition: all 0.3s;
}

.content__up:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (max-width: 768px) {
    .content__up {
        width: 40px;
        height: 40px;
        bottom: 0;
        right: 20px;
    }
}
