@import url(./__btn/content__btn.css);
@import url(./__up/content__up.css);
.content {
    position: relative;
    box-sizing: border-box;
    width: 1280px;
    max-width: 100%;
    padding: 40px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 475px) {
    .content {
        padding: 40px 5px 50px 5px;
    }
}
