.hedar__cat-count {
    position: absolute;
    left: 130px;
    top: 140px;
    color: white;
    font-weight: 700;
    font-size: 38px;
}

@media screen and (max-width: 767px) {
    .hedar__cat-count {
        left: 50px;
    }
}

@media screen and (max-width: 475px) {
    .hedar__cat-count {
        font-size: 24px;
    }
}
