.card__sale {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 40px;
    background: #e52d2d;
    border-radius: 10px;
    left: 35px;
    top: 35px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.card__sale:hover {
    background: #fc0000;
}
