.checkboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.checkboxes > span {
    font-size: 18px;
    font-weight: 700;
}

.checkboxes > button {
    position: relative;
    margin-left: 50px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.checkboxes > button::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 45px;
    width: 7px;
    border: 1px solid black;
    transform: rotate(45deg);
}

.checkboxes > button::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 50px;
    width: 7px;
    border: 1px solid black;
    transform: rotate(-45deg);
}
.checkboxes > button:last-child:after {
    position: absolute;
    content: "";
    top: 10px;
    left: 70px;
    width: 7px;
    border: 1px solid black;
    transform: rotate(45deg);
}
.checkboxes > button:last-child::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 75px;
    width: 7px;
    border: 1px solid black;
    transform: rotate(-45deg);
}

@media screen and (max-width: 1280px) {
    .checkboxes {
        justify-content: center;
    }
}

@media screen and (max-width: 475px) {
    .checkboxes > span {
        font-size: 12px;
        font-weight: 700;
    }
    .checkboxes > button {
        margin-left: 15px;
    }
}
