.card__btn {
    color: white;
    font-size: 16px;
    font-weight: 700;
    height: 65px;
    width: 100%;
    background: #6ebbd3;
    border: none;
    outline: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.card__btn:hover {
    background: #7bd6f1;
}

.card__btn_disabled {
    background: black;
    cursor: auto;
}
.card__btn_disabled:hover {
    background: black;
}
