.burger__menu {
    background: rgba(31, 32, 33, 0.79);
    position: absolute;
    bottom: -50px;
    left: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    transform: scale(1, 0);
    transition: all 0.3s;
}
.burger__menu_active {
    transform: scale(1, 1);
}
.burger__menu > ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__burger {
    display: none;
    position: relative;
}

.header__burger > span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5px;
    background: white;
    transform: scale(1, 1);
    transition: transform 0.3s;
}
.header__burger::after {
    content: "";
    top: 100%;
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.header__burger::before {
    content: "";
    top: 0%;
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.header__burger_active > span {
    transform: scale(0, 0);
}

.header__burger_active::before {
    top: 50%;
    transform: rotate(-45deg);
}

.header__burger_active::after {
    top: 50%;
    transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
        width: 50px;
        height: 40px;
    }
}
